.menuTop .menu_area {
  position: fixed;
}

.transparentMenu {
  .main_menu_outer {
    min-height: 0;

    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    opacity: 0;
  }
}

@media (max-width: 767px) {
  .transparentMenu .main_menu_outer {
    min-height: 60px;

    transition: all 0s ease 0s;

    opacity: 1 !important;
  }
}
